{{#with footer}}
	<footer>
   	<hr />
   	<br />
		<div>
   		{{#with social}}
     
      			{{> link text=email.text href=email.href blank=true }}
       		{{> link text=phone.text href=phone.href blank=true }}
       		{{> link text=LinkedIn.text href=LinkedIn.href blank=true noLine=true}} 
          
       {{/with}}
		</div>
			<br>
		<div>
			<em>&copy; {{../header/name/firstname}} {{../header/name/lastname}}</em>
   </div>
   <div>
     {{address}}
     <br>
     <hr>
      Poltava, Evropeyska str.
   </div>
 </footer>
	{{/with}}





